nav a{
    color:#8b6a45;
    font-size: 20px;
    
}
nav a:hover{
    color: #6C7A89;
    
}

#pozadina{
    /*background-image: url("../img/pozadina3.jpg");*/
   /* filter: brightness(40%);*/
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pozadina5.jpg");


}
#naslov{
    color:white;
    font-family: 'Poppins';
}
.podnaslov{
    color:white;
    font-family: 'Poppins';
}
#navigacija{
    background-color:white;
}
.kategorije{
    height: 300px;
    background-color: white;

}
.slike{
 width:100%;
 filter: brightness(50%);
 position:relative;
}

@media only screen and (min-width: 1500px) {
    .slike{
        height:400px;
       }
  }
  
  .sadrzajSlika{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
   /* flex-direction: column;*/
    position: absolute;
  }
  .dugmeSlika{
    border: 1px solid white;
    padding-top: 10px;
    width: 30%;
    height: 15%;
    top:65%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
   /* flex-direction: column;*/
    position: absolute;
  }

  .dugmeSlika:hover{
    background-color: #8b6a45;
    opacity: 0.8;
  }